{% extends "base.html" %}

{% block title %}Registrarse - Plataforma Educativa{% endblock %}

{% block content %}
            <h1>Registrarse</h1>
        <form>
            <label for="name">Nombre(s)</label>
            <input type="text" id="name" name="name" required>

            <label for="apellido">Apellidos</label>
            <input type="text" id="name" apellido="apellido" required>

            <label for="edad">Edad</label>
            <input type="numer" id="edad" edad="edad">

            <label for="telefono">Telefono</label>
            <input type="number" id="number" name="telefono" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="contraseña">Contraseña</label>
            <input type="password" id="password" name="contraseña" required>

            <input type="radio" id="role-student" name="role" value="Student" required>
            <label for="role-student">Estudiante</label>

            <input type="radio" id="role-teacher" name="role" value="Teacher">
            <label for="role-teacher">Profesor</label>

            <button type="submit">Crear cuenta</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="#">Inicia sesion</a></p>
    </div>
</body>
</html>





{% endblock %}
