{% extends "/dashboard/base_dashboard.html" %}

{% block title %}Certificados - EduConnect{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">


        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h1 class="mt-3 text-success">
                {% if usuario[1] == 1 %}
                    Certificados Expedidos
                {% else %}
                    Mis Certificados
                {% endif %}
            </h1>

            <div class="row mt-4">
                <!-- Certificado 1 -->
                {% for certificado in certificados %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card border-success">
                            <div class="card-body">
                                <h5 class="card-title text-success">{{ certificado['contenido_explicacion'] }}</h5>
                                <p class="card-text text-muted">Fecha de expedición: {{ certificado['fecha_creacion'] }}</p>
                                <a href="{{ url_for('generar_certificado', certificado_id=certificado['id_curso']) }}" class="btn btn-warning text-white">Ver PDF</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
</div>
{% endblock %}
