{% extends "dashboard/base_dashboard.html" %}

{% block title %}Dashboard - EduConnect{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-22 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 style="color: #134B42;">Bienvenido {{ user[3] }}</h1>
            </div>

            {% if user[1] == 1 %}
                <div class="card mb-4" style="border-color: #CA763B;">
                    <div class="card-body">
                        <h2 class="card-title" style="color: #CA763B;">Estadísticas del Profesor</h2>
                        <p class="card-text">Total de cursos: 5</p>
                        <p class="card-text">Total de alumnos: 50</p>
                        <p class="card-text">Calificación promedio: 4.8/5</p>
                    </div>
                </div>
            {% else %}
                <div class="card mb-4" style="border-color: #134B42;">
                    <div class="card-body">
                        <h2 class="card-title" style="color: #134B42;">Mis Cursos</h2>
                        <ul>
                            {% for curso in cursos %}
                                <li><a href="{{ url_for('curso', curso_id=curso['id_curso'] ) }}">{{ curso['contenido_explicacion'] }}</a></li>
                            {% endfor  %}
                        </ul>
                    </div>
                </div>
                <div class="card mb-4" style="border-color: #AEBA8A;">
                    <div class="card-body">
                        <h2 class="card-title" style="color: #AEBA8A;">Mis Certificados</h2>
                        <p>Has obtenido {{ cursos | length }} certificados. <a href="{{ url_for('certificados') }}">Ver todos</a></p>
                    </div>
                </div>
            {% endif %}
        </main>
    </div>
</div>
{% endblock %}
